# **Python 101**
> Fireside GDSC Universitas Airlangga - 15 November 2023

## **Python?**

- One of the most popular programming language
- Robust uses
- Subjectively one of the easiest language to master

## **how to install?**

installed the source,
https://www.python.org/downloads/

installed miniconda,
https://docs.conda.io/projects/miniconda/en/latest/miniconda-install.html

## **virtual environtments - Conda**

- Conda: Open-source package and environment management system.
- Mainly used for Python, but handles other languages too.
- Ideal for data science and machine learning projects.
- Allows easy creation and switching between different project environments.

1. create conda env
    ```conda
    conda create -n <nama_env> python=<versi>

    conda create -n python101 python=3.10
    ```

2. activate conda env
    ```conda
    conda activate <nama_env>

    conda activate python101
    ```
3. list of created conda env
    ```conda
    conda env list

    # conda environments:
    # base                     /home/austhopia/miniconda3
    # python101             *  /home/austhopia/miniconda3/envs/python101
    ```
4. install packages
    ```cmd
    pip install <package-name>
    ```

![Alt text](https://github.com/fathur-rs/gdsc-python101/blob/7c47e56d16d482f07479dcf9fda17302fe457513/img/conda.png?raw=true")

## **IDE**

- Pycharm
- Spider
- VS Code
- Vim
- etc...


To connect a Conda environment to VS Code Jupyter Notebook:
1. Install the Python VS Code extension.
2. Install the Jupyter VS Code extension.
3. Reload VS Code.
4. At the top right panel, click 'Select Kernel', choose 'Python Environment', and select your pre-existing Conda environment.

## **basic data types**

### Integer

In [102]:
# integer
## 32131
### -13213

age = 21
age: int = 21
age

21

### Float

In [103]:
# float
## 3213.321
## -31.321

pi: float = 3.14
pi

3.14

### String

String method:
1. lower(): Converts all characters in the string to lowercase.
2. upper(): Converts all characters in the string to uppercase.
3. strip(): Removes whitespace at the beginning and end of the string.
4. lstrip(): Removes whitespace at the beginning of the string.
5. rstrip(): Removes whitespace at the end of the string.
6. find(sub): Returns the lowest index in the string where substring `sub` is found.
7. replace(old, new): Replaces all occurrences of `old` substring with `new`.
8. split(sep): Splits the string at the specified separator and returns a list of substrings.
9. join(iterable): Joins the elements of an iterable (e.g., list, tuple) into a single string with the string acting as the delimiter.
10. format(*args, kwargs): Formats the string using a variety of techniques, like positional and keyword arguments.

In [3]:
# string
## "hello this is string"
## '32.321'

name: str = "fathurrahman syarief"
name_string_format: str = f"My name is {name.upper()}"
# My name is FATHURRAHMAN SYARIEF

print(name.title())

print(name_string_format.lower().split(" "))

Fathurrahman Syarief
['my', 'name', 'is', 'fathurrahman', 'syarief']

### Boolean

In [105]:
# bool 
## True == 1
## False == 0

has_gf: bool = True and False
has_gf

False

## **printing**

In [5]:
# print(Hello this is print statement) # >> Error

In [6]:
print(3.14)

3.14

In [9]:
print("tahun ini saya berumumr", 21, "tahun", True, 3.14, end=" | ") # \n = enter
print("hello")

tahun ini saya berumumr 21 tahun True 3.14 | hello

In [10]:
# string format
print(f"tahun in saya berumumr {21} tahun")
print(f"tahun ini saya berumumr {2**2} tahun")

tahun in saya berumumr 21 tahun
tahun ini saya berumumr 4 tahun

## **variable**

Code Writing Rules:
- Variable names must start with a letter or an underscore.
- Python is case-sensitive.
- Comments in Python start with #.

In [14]:
hello = "hello"
world = "world"
print(world)
world = "dunia"
print(hello, world)

world
hello dunia

## **user input**

```python
input('')
```

In [15]:
nama = input("Nama: ")
umur = input("Umur: ")
f"Nama anda {nama}, umur anda {umur} tahun"

'Nama anda Fathur, umur anda 20 tahun'

## **basic operators**

Arithmetic Operators:
  - `+`, `-`, `*`, `/`: Basic arithmetic operations.
  - `%`: Modulus - remainder of division.
  - `**`: Exponentiation.
  - `//`: Floor division.

In [112]:
x = 10
y = 3

x**y, x%y, x//y, x/y

(1000, 1, 3, 3.3333333333333335)

In [113]:
fathur = "fathur"
syarief = "syarief"

fathur + syarief

'fathursyarief'

Comparison Operators:
  - `==`, `!=`: Equality and inequality.
  - `<`, `>`, `<=`, `>=`: Less than, greater than, etc.

In [18]:
'a' > 'b'

False

In [115]:
True == True

True

Logical Operators:
  - `and`, `or`, `not`: Logical AND, OR, NOT.

In [116]:
not (True and False), True and True, True or False

(True, True, True)

Membership Operators:
  - `in`, `not in`: Membership tests.

In [117]:
unair = "universitas airlangga"

"airlangga" in unair, "Airlangga" in unair, "brawijaya" not in unair

(True, False, True)

Order Operation (BEMDAS)
1. Brackets
2. Exponents
3. Multiplication
4. Division
5. Addition
6. Substraction

In [118]:
(x+y) // x / x**y

# 13 // 10 / 1000
# 1 / 1000
# 0.001

0.001

## **conditional statements**

`if`, `elif`, `else`
- Allows execution of certain code blocks based on conditions.
- Example:
  ```python
  if condition:
      # execute this block
  elif another_condition:
      # execute this block
  else:
      # execute this block
  ```

In [20]:
score: int = 50

if score >= 90:
    print("Excellent")
elif score >= 75:
    print("Good")
elif score >= 60:
    print("Average")
else:
    print("Needs Improvement")

Needs Improvement

## **list**

> Mutable: Mutable objects are those whose contents can be altered after creation

List Methods:
   - append(x): Adds an item x to the end of the list.
   - extend(iterable): Extends the list by appending elements from an iterable.
   - insert(i, x): Inserts an item x at a given position i.
   - remove(x): Removes the first item from the list that is equal to x.
   - pop(i): Removes the item at the given position i in the list and returns it.
   - clear(): Removes all items from the list.
   - index(x): Returns the index of the first item that is equal to x.
   - count(x): Returns the number of times x appears in the list.
   - sort(): Sorts the items of the list in place.
   - reverse(): Reverses the elements of the list in place.
   - copy(): Returns a shallow copy of the list.

In [21]:
# list
lifo: list = [3, 2, 1, 'zero', False]

lifo.append(4)
lifo

[3, 2, 1, 'zero', False, 4]

In [22]:
lifo[0] = 1
lifo

[1, 2, 1, 'zero', False, 4]

## **tuple**

> Immutable:  Immutable objects are those that cannot be changed once created

Tuple Methods:
   - count(x): Returns the number of times x appears in the tuple.
   - index(x): Finds the first occurrence of x in the tuple and returns its index.

In [23]:
queue: tuple = (1, 2, 3, 2)
queue.count(2)

2

In [25]:
# queue[0] = 1
# # >> TypeError: 'tuple' object does not support item assignment

## **conditional loops**

`for`, `while`
- `for`
> used for iterating over a sequence (list, tuple, dictionary, set, or string)

In [26]:
ranking: list = [1,2,3,4,5,6,7,8,9,10]
for i in ranking:
    print(i)

1
2
3
4
5
6
7
8
9
10


- `while`
> continues executing as long as the condition is true

In [126]:
start: int = len(ranking) # length of list "ranking"

while start > 0:
    print(start)
    start = start - 1 # important
print("End!")

10
9
8
7
6
5
4
3
2
1
End!

## **slice operator**

```python
[start:stop:step]
```

> Python index start from 0 (zero)

In [27]:
ranking

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
ranking[0:3]

[1, 2, 3, 4]

In [30]:
ranking[:3]

[1, 2, 3]

In [31]:
ranking[3:]

[4, 5, 6, 7, 8, 9, 10]

In [35]:
ranking[3::2]

[4, 6, 8, 10]

In [156]:
ranking[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [157]:
ranking[::-2]

[10, 8, 6, 4, 2]

In [159]:
ranking[3::-1]

[4, 3, 2, 1]

## **sets**

```python
set()
```

In [36]:
x = [1,1,1,1,1,2]

set(x)

{1, 2}

## **dictionary**

Dictionary Methods:
   - get(key): Returns the value for a key, and if the key is not present, it returns None.
   - keys(): Returns a new view of the dictionary's keys.
   - values(): Returns a new view of the dictionary's values.
   - items(): Returns a new view of the dictionary’s key-value pairs (tuples).
   - update([other]): Updates the dictionary with elements from another dictionary or from an iterable of key-value pairs.
   - pop(key): Removes the specified key and returns the corresponding value.
   - popitem(): Removes and returns a (key, value) pair from the dictionary.
   - clear(): Removes all items from the dictionary.
   - copy(): Returns a shallow copy of the dictionary.
   - setdefault(key, default=None): Returns the value of the key if it is in the dictionary; if not, it inserts the key with the default value.

In [124]:
# ditionary
message: dict = {
    "id": 1337,
    "message": "selamat pagi"
}
print(message.keys())
print(message.values())

dict_keys(['id', 'message'])
dict_values([1337, 'selamat pagi'])

## **comprehension**

In [172]:
con = []
for x in range(10):
    if x % 2 == 0:
        con.append(x**2)
    
con

[0, 4, 16, 36, 64]

In [173]:
[x**2 for x in range(10) if x % 2 == 0]

[0, 4, 16, 36, 64]

In [177]:
{x: x**2 for x in range(10) if x % 2 == 0}

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

## **function**


```python
def function_name(parameters):
    # Code block
    return result
```

In [38]:
def calculate_discount(price: float or int, is_member: bool = False, special_offer: bool = False) -> float:
    discount_rate = 0
    
    if is_member:
        discount_rate = 0.1
    else:
        discount_rate = 0.05
        
    if special_offer:
        discount_rate += 0.05

    discount = price * discount_rate
    final_price = price - discount

    return f"The final price after discount is ${final_price}"

final_price = calculate_discount(100.0)
final_price

'The final price after discount is $95.0'

```python
lambda arguments: expression
```

In [39]:
add = lambda x, y: x + y
add(5,2)

7

In [129]:
final_price_lambda = lambda x, y, z: calculate_discount(x, y, z)
final_price_lambda(100.0, True, True)

'The final price after discount is $85.0'

```python
lambda vs def
```

- `def`
    - more verbose, allows for more complex operations.
    - preferred for complex logic and improved readability.
- `lambda` 
    - is concise, suitable for simple operations
    - Ideal for quick, throwaway functions often used in higher-order functions like map(), filter(), and sorted().

In [40]:
people:list[tuple] = [("Alice", 25), ("Bob", 30), ("Charlie", 20), ("Diana", 27)]

over_25 = filter(lambda x: x[1] > 25, people)

list(over_25)

[('Bob', 30), ('Diana', 27)]

## **exception and error handling**

```python
try:
    # code here
except:
    # handles the exception if error occurs in the try block
finally:
    # code that runs regardless of whether an exception occurred
```
List of except method:
1. SyntaxError: For errors in syntax.
2. NameError: If a local or global name is not found.
3. TypeError: When an operation or function is applied to an object of inappropriate type.
4. ValueError: When a function receives an argument of the correct type but with an inappropriate value.
5. IndexError: When a sequence subscript is out of range.
6. KeyError: When a dictionary key is not found.
7. AttributeError: When an attribute reference or assignment fails.
8. ZeroDivisionError: When the second argument of a division or modulo operation is zero.
9. IOError: When an I/O operation (such as a file open operation) fails for an I/O-related reason.
10. ImportError: When the `import` statement has trouble trying to load a module.

In [131]:
def divide_numbers(num1: float, num2: float) -> float:
    try:
        result = num1 / num2
    except ZeroDivisionError:
        print("Error: Division by zero is not allowed.")
        result = 0
    finally:
        return result

print(divide_numbers(10.0, 2.0))  # Outputs 5.0
print(divide_numbers(10.0, 0.0))  # Outputs Error message and 0

5.0
Error: Division by zero is not allowed.
0

## **learning resources**

YT Channel:
1. [Tech With Tim](https://www.youtube.com/@TechWithTim)
2. [ArjanCodes](https://www.youtube.com/@ArjanCodes)
3. [Kelas Terbuka](https://www.youtube.com/@KelasTerbuka)
4. [Corey Schafer](https://www.youtube.com/@coreyms)

Website:
1. Edabit
2. LeetCode
3. Toward Data Science